:root {
  --clr-white: #ffffff;
  --clr-neon-blue: #62E0D9;
  --clr-dark-blue-1: #1B2330;
  --clr-dark-blue-2: #202A3C;
  --clr-gradient-blue: linear-gradient(#63E1D9, #34A0CD);
  --fs-700: 4rem;
  --fs-600: 3.2rem;
  --fs-500: 2rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
  --fs-200: 1rem;
  --fs-100: 8px;
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}

@media (max-width: 35em) {
  :root {
    --fs-700: 2.4rem;
    --fs-400: 1.4rem;
    --fs-300: 1rem;
  }
}

/*-------
Reset
-------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  min-height: 100%;
}

img {
  display: block;
  width: 100%;
}

body {
  background: center bottom 60%/contain no-repeat url("../images/bg-curvy-desktop.svg"), -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--clr-dark-blue-1)), color-stop(50%, #181F2B));
  background: center bottom 60%/contain no-repeat url("../images/bg-curvy-desktop.svg"), linear-gradient(to bottom, var(--clr-dark-blue-1) 50%, #181F2B 50%);
  color: var(--clr-white);
  font-family: var(--ff-primary);
  text-align: center;
  font-size: var(--fs-400);
}

p {
  font-family: var(--ff-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 8rem;
}

.nav__logo {
  width: 17.6rem;
}

@media (max-width: 35em) {
  .nav__logo {
    width: 8rem;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
}

@media (max-width: 35em) {
  .nav__links {
    width: 1.2rem;
    gap: 2.4rem;
  }
}

.nav__item {
  list-style-type: none;
}

.heading-primary {
  font-size: var(--fs-700);
  line-height: 6rem;
  max-width: 70rem;
}

.heading-secondary {
  font-size: var(--fs-500);
}

.heading-tertiary {
  font-size: var(--fs-600);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 0;
  max-width: 128rem;
  margin: 0 auto;
}

.hero {
  margin-bottom: 10rem;
}

.hero__img {
  width: 72rem;
}

.hero__content {
  font-size: var(--fs-400);
  max-width: 48rem;
  line-height: 3rem;
  margin: 3.2rem auto;
}

.benefits {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10rem;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10rem 8rem;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__img {
  padding-bottom: 1.6rem;
  margin: 0 auto;
}

.benefits__img--access, .benefits__img--collab {
  width: 8.4rem;
}

.benefits__img--security {
  width: 6.6rem;
}

.benefits__img--files {
  width: 9rem;
}

.benefits__content {
  font-size: var(--fs-300);
  margin-top: 8px;
  max-width: 38rem;
  line-height: 21px;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18rem;
  gap: 6rem;
}

.productive__img {
  width: 61.5rem;
}

.productive__container {
  text-align: left;
  max-width: 49rem;
}

.productive .heading-primary {
  line-height: 5rem;
  margin-bottom: 2rem;
}

.productive__content {
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.productive a {
  color: var(--clr-neon-blue);
}

.productive__icon {
  display: inline-block;
  width: 2rem;
  position: relative;
  top: 4px;
}

.productive .underline {
  width: 16.7rem;
  height: 1px;
  position: relative;
  top: 3px;
  background-color: var(--clr-neon-blue);
}

.reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 4rem;
  position: relative;
  margin-bottom: 20rem;
}

.reviews__quote {
  width: 8rem;
  position: absolute;
  z-index: 1;
  top: -48px;
  left: -8px;
}

.reviews__item {
  background-color: var(--clr-dark-blue-2);
  border-radius: 4px;
  padding: 4rem 2.5rem 2.5rem;
  text-align: left;
  z-index: 2;
}

.reviews__content {
  font-size: var(--fs-300);
  line-height: 21px;
}

.reviews__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4rem;
}

.reviews__profile--img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 8px;
}

.reviews__profile--name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.reviews__profile--occupation {
  font-size: 8px;
}

.register {
  background-color: var(--clr-dark-blue-1);
  border-radius: 9px;
  -webkit-box-shadow: 2px 3px 5px #000000;
          box-shadow: 2px 3px 5px #000000;
  padding: 4.2rem 7.7rem;
  max-width: 86rem;
}

.register__content {
  font-size: var(--fs-300);
  margin: 1.6rem 0 3.8rem;
}

.register input {
  border: none;
  outline: none;
  width: 48rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  margin-right: 2rem;
  padding-left: 3.8rem;
}

.register input ::-webkit-input-placeholder {
  color: #C0C0C0;
}

.register input :-ms-input-placeholder {
  color: #C0C0C0;
}

.register input ::-ms-input-placeholder {
  color: #C0C0C0;
}

.register input ::placeholder {
  color: #C0C0C0;
}

.register .btn {
  padding: 1.5rem 2.6rem;
  font-size: var(--fs-300);
}

.btn {
  text-decoration: none;
  padding: 1.8rem 9rem;
  background-image: var(--clr-gradient-blue);
  border-radius: 2.8rem;
  display: inline-block;
  border: none;
  color: var(--clr-white);
  font-family: inherit;
  font-size: var(--fs-400);
  font-weight: 700;
}

.footer {
  background-color: #0B1524;
  padding: 5rem 10rem;
}

.footer__logo {
  width: 10rem;
}
/*# sourceMappingURL=style.css.map */